/* Style global */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #272822;
  color: #f8f8f2;
}

/* Sidebar */
#sidebar {
  width: 18%;
  background-color: #1e1f1c;
  padding: 15px;
  float: left;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);;
}

#sidebar h1 {
  color: #a6e22e;
}

#sidebar ul {
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  color: #66d9ef;
  text-decoration: none;
  font-family: "Courier New", monospace;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}

/* Contenu principal */
#content {
  margin-left: 20%;
  padding: 20px;
  font-family: "Courier New", monospace;
}

.section {
  margin-bottom: 20px;
}

pre {
  background-color: #1e1f1c;
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  color: #f8f8f2;
  overflow: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}

/* Syntax Highlighting */
.comment {
  color: #75715e;
}

.keyword {
  color: #f92672;
}

.tag {
  color: #a6e22e;
}

.attribute {
  color: #66d9ef;
}

.sql-keyword {
  color: #f92672;
}

#img{
  width: 200px;
  height: 300px;
  padding: 10px ;
  border-radius: 8px;
}
